<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.requerimientos.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <!-- So that we can get the account name -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Used to request data from the Google+ APIs in the SignInActivity -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required if we need to invalidate access tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Buscar_Destino"
            android:label="@string/title_activity_buscar__destino" >
        </activity>
        <activity
            android:name=".Reservar"
            android:label="@string/title_activity_reservar" >
        </activity>
        <activity
            android:name=".Ver_Reservacion"
            android:label="@string/title_activity_ver__reservacion" >
        </activity>
        <activity
            android:name=".Destinos_Encontrados"
            android:label="@string/title_activity_destinos__encontrados" >
        </activity>
        <activity
            android:name=".Mostrar_Destino"
            android:label="@string/title_activity_mostrar__destino" >
        </activity>
        <activity
            android:name=".Ver_Reservaciones"
            android:label="@string/title_activity_ver__reservaciones" >
        </activity>
        <activity
            android:name=".Reservar_Detalles"
            android:label="@string/title_activity_reservar__detalles" >
        </activity>
    </application>

</manifest>
